[flake8]
max-line-length = 100
inline-quotes = "
extend-ignore =
    E203,
# E203 whitespace before ':' (to be compatible with black)
per-file-ignores =
# The api package re-exports its submodules for `from suitesparse_graphblas import api`
    suitesparse_graphblas/api/__init__.py:F401,
